body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond; 
    text-align: center;
}

body ul {
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}